body{
	margin: 0;
	font-family: Arial,sans-serif;
	background: #f5f5f5;
}

nav{
	background: #2e7d32;
	padding: 10px;
}

nav a{
	color: white;
	margin-right: 15px;
	text-decoration: none;
	font-weight: bold;
}

.container{
	max-width: 600px;
	margin: 40px auto;
	background: white;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 15px;
}

h1 , h2{
	color: #2e7d32;
}

h1{
	font-size: 26px;
	margin-bottom: 10px;
}

h2{
	font-size: 22px;
	margin-bottom:8px ;
}

h3{
	font-size: 18px;
	margin-bottom:6px ;
}
button{
	background: #2e7d32;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

input{
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

p , li{
	line-height: 1.6;
}

.card{
	background: #f1f8f4;
	padding: 15px;
	border-left: 5px solid #2e7d32;
	margin-bottom: 20px;
}